@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* Color Scheme */

:root {
    --bg-color: rgb(170, 170, 170);
    --text-color: rgb(20, 57, 85);
    --highlight-color: rgb(78, 160, 228);
}

* {
    font-family: 'Ubuntu', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 175vh;
    display: grid;
    grid-template-areas:
        'header header header'
        'image image image'
        'aside main main'
        'aside footer footer';
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 0.5fr 1.5fr 6fr 1fr;
    gap: 10px;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    align-content: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 550;
}

h3 {
    font-size: 1.75rem;
    font-weight: 525;
    display: flex;
    justify-content: end;
    align-content: flex-start;
    padding-right: 10px;
    padding-bottom: 10px;
}

header {
    grid-area: header;
    background-color: var(--text-color);
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#name {
    background-image:
        linear-gradient(rgba(78, 160, 228, 0.5) 50%, rgba(78, 160, 228, 1) 100%);
    margin-top: 10px;
    width: 275px;
    height: 2.2rem;
    border-radius: 7px;
}

#name,
#nav,
#avatar {
    display: inline-block;
}

/* link styling */
a {
    transition: all 0.3s ease 0s;
}

a:hover {
    color: white;
}

ul {
    list-style: none;
}

li,
a {
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    padding: 0 10px;
}

#avatar img {
    height: 100px;
    width: 100px;
    border: solid 1px var(--highlight-color);
    border-radius: 50%;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        'about'
        'section';
    grid-template-rows: 1fr 3fr;
    gap: 10px;
}

main,
footer {
    margin: 0 50px 0 35px;
}

#image {
    grid-area: image;
    column-span: 1 / 4;
}

#bg-image {
    background-image: url('../images/pexels-nick-collins-1292998.jpg');
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end;
}

#bg-image h2 {
    align-items: center;
}

#subtitle {
    background-color: var(--text-color);
    color: var(--highlight-color);
    margin: 10px 10px 10px 0;
    width: 100px;
    height: 1.6rem;
    border-radius: 7px;
    text-align: center;
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-areas:
        'about'
        'work'
        'contact';
    grid-template-rows: 1.67fr 5fr 1.13fr;
    gap: 10px;
}

aside>* {
    border-right: solid 5px var(--text-color);
}

#about {
    padding-top: 20px;
}

#about {
    grid-area: about;
}

#work {
    grid-area: section;
    display: grid;
    grid-template-areas:
        'project'
        'coming-soon';
    grid-template-rows: 1.5fr 1fr;
    gap: 10px;
}

.project {
    grid-area: project;
    border: solid 3px var(--highlight-color);
    background-image: url(../images/Screen\ Shot\ 2022-08-09\ at\ 7.33.36\ PM.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0;
}

.project .label {
    height: 2.7rem;
    width: 150px;
    background-color: var(--highlight-color);
    display: flex;
    justify-self: flex-start;
    align-self: center;
    border-radius: 0 7px 7px 0;
}

.label h4 {
    color: var(--text-color);
}

a,
.project,
.coming-soon {
    cursor: pointer;
}

#one {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0;
}

#one .label {
    height: 1.5rem;
    width: 160px;
    background-color: var(--highlight-color);
    border-radius: 0 7px 7px 0;

}

.coming-soon {
    grid-area: coming-soon;
    display: grid;
    grid-template-areas:
        'one two'
        'three four';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

#one {
    grid-area: one;
    border: solid 3px var(--highlight-color);
    background-image: url(../images/01-app-desktop.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

}

#two,
#three,
#four {
    background-image: url(../images/coming-ge3c635086_640.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#two {
    grid-area: two;
    border: solid 3px var(--highlight-color);
}

#three {
    grid-area: three;
    border: solid 3px var(--highlight-color);
}

#four {
    grid-area: four;
    border: solid 3px var(--highlight-color);
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul li a {
    color: var(--text-color);
    display: inline-block;
    padding: 0 25px;
}

footer,
.contact {
    margin-bottom: 10px;
}

/* responsive design */

@media screen and (max-width: 992px) {
    body {
        grid-template-areas:
            'header header'
            'image image'
            'main main'
            'footer footer';
        grid-template-columns: 1fr 1fr;
    }

    header {
        flex-direction: column;
    }

    h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    /* removes aside for responsiveness */
    aside {
        display: none;
    }

    #name,
    #nav,
    #avatar {
        display: block;
        padding: 10px 0;
    }
}

@media screen and (max-width: 768px) {

    main {
        grid-template-rows: 1fr 6fr;
    }

    #work {
        grid-template-rows: 2fr 3fr;
    }

    .coming-soon {
        grid-template-areas:
            'one one'
            'two two'
            'three three'
            'four four';
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    footer ul li a {
        padding: 0;
        font-size: 1rem;
    }
}